@model Fall2024_Assignment3_mtorres3.Models.MovieReview

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovieReview</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieID" class="control-label"></label>
                <select asp-for="MovieID" class ="form-control" asp-items="ViewBag.MovieID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Positive" class="control-label"></label>
                <input asp-for="Positive" class="form-control" />
                <span asp-validation-for="Positive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Negative" class="control-label"></label>
                <input asp-for="Negative" class="form-control" />
                <span asp-validation-for="Negative" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neutral" class="control-label"></label>
                <input asp-for="Neutral" class="form-control" />
                <span asp-validation-for="Neutral" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Compound" class="control-label"></label>
                <input asp-for="Compound" class="form-control" />
                <span asp-validation-for="Compound" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
